body { 
  font-family: Arial; 
  margin:0; 
  background:#f2f5f9; 
}

.header { 
  background:#1b3b6f; 
  color:white; 
  padding:20px; 
  font-size:24px; 
  text-align:center; 
}

.container {
  padding:20px;
}

.form-box {
  display:grid;
  grid-template-columns:200px 1fr;
  gap:10px;
  max-width:700px;
  background:white;
  padding:20px;
  border-radius:8px;
}

button {
  grid-column: span 2;
  background:#1b3b6f;
  color:white;
  padding:10px;
  border:none;
  cursor:pointer;
  border-radius:6px;
  margin-top:10px;
}

button:hover {
  background:#274a89;
}

table { 
  width:100%; 
  border-collapse:collapse; 
  margin-top:20px; 
  background:white; 
}

th, td { 
  border:1px solid #ccc; 
  padding:6px; 
}
